.container-fluid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.about-section {
  border-bottom: 1px solid #dee2e6;
}

.about-section .about-card {
  padding: 60px;
  border-right: 1px solid #dee2e6;
}

.about-section .about-card:last-child {
  border-right: none;
}
.col-lg-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33333%;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}


.font-weight-light {
  font-weight: 300 !important;
}

.line {
  display: block;
  width: 25px;
  height: 1.5px;
  background-color: #F85C70;
}


.mb-5,
.my-5{
  margin-bottom: 3rem !important;
}
.m-3 {
  margin: 1rem !important;
}

.btn-outline-danger {
  color: #F85C70;
  border-color: #F85C70;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #F85C70;
  border-color: #F85C70;
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 92, 112, 0.5);
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  color: #F85C70;
  background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #F85C70;
  border-color: #F85C70;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 92, 112, 0.5);
}   

.info {
  color: #6c757d;
  font-size: 14px;
}

.info li {
  padding-bottom: 8px;
}

.info span {
  font-weight: 600;
  font-size: 14px;
  color: #343a40;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.text-danger {
  color: #F85C70 !important;
}

a.text-danger:hover, a.text-danger:focus {
  color: #f51330 !important;
}

.subtitle {
  font-weight: 500;
  opacity: 1;
  color: #fff;
}
.col-1 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
